# Python bytecode
__pycache__/
*.py[cod]

# Environment variables file
.env
.env.*

# Django migrations
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# SQLite database (agar use kiya to)
db.sqlite3

# Logs
*.log

# Media and static files
media/
staticfiles/
static/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Others
*.swp
*.swo
